{% extends 'base.html' %}

{% block title %}Home - Energie-Dashboard{% endblock %}

{% block content %}
   
<h2>Energie-Dashboard: Daten eintragen</h2>

<form action="/submit" method="post" class="mb-3 eintragen-container">
    <input type="date" name="datum" class="form-control" value="{{ today }}">
    <input type="number" name="strom" placeholder="Strom" class="form-control" step="1">
    <input type="number" name="wasser" placeholder="Wasser" class="form-control" step="1">
    <input type="number" name="gas" placeholder="Gas" class="form-control" step="1">
    <input type="number" name="dle" placeholder="DLE" class="form-control" step="1">
    <input type="number" name="einspeisung" placeholder="Einspeisung" class="form-control" step="1">
    <input type="number" name="garten" placeholder="Garten" class="form-control" step="1">
    <button type="submit" class="btn btn-primary">Eintragen</button>
</form>
<div class="content-container">
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Strom</th>
                    <th>Einspeisung</th>
                    <th>Gas</th>
                    <th>DLE</th>
                    <th>Wasser</th>
                    <th>Garten</th>
                    <th>Aktion</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row['Datum'] }}</td>
                    <td>{{ row['Strom'] }}</td>
                    <td>{{ row['Einspeisung'] }}</td>
                    <td>{{ row['Gas'] }}</td>
                    <td>{{ row['DLE'] }}</td>
                    <td>{{ row['Wasser'] }}</td>
                    <td>{{ row['Garten'] }}</td>
                    <td>
                        <form action="/delete" method="post" style="display:inline;">
                            <input type="hidden" name="date_to_delete" value="{{ row['Datum'] }}">
                            <button type="submit" class="btn btn-danger btn-sm">Löschen</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="scroll-buttons">
        <button id="scrollUp" class="btn btn-primary scroll-button">Scroll nach oben</button>
        <button id="scrollDown" class="btn btn-primary scroll-button">Scroll nach unten</button>
    </div>
</div>
<script>
    window.addEventListener('load', function() {
        adjustTableContainerHeight();
        window.addEventListener('resize', adjustTableContainerHeight); // Adjust on window resize
    });
    
    function adjustTableContainerHeight() {
        var tableContainer = document.querySelector('.table-container');
        if (!tableContainer) return;
    
        var spaceAbove = tableContainer.getBoundingClientRect().top; // Distance from top of the viewport
        var desiredHeight = window.innerHeight - spaceAbove - 20; // Full height minus space above and 20px margin
    
        tableContainer.style.height = `${desiredHeight}px`; // Set the calculated height
    }
</script>

<script>
    var tableContainer = document.querySelector('.table-container');

    document.getElementById('scrollUp').addEventListener('click', function() {
        tableContainer.scrollTop = 0;
    });

    document.getElementById('scrollDown').addEventListener('click', function() {
        tableContainer.scrollTop = tableContainer.scrollHeight;
    });
</script>
{% endblock %}